<div class="chat-box" style="display: flex;">

  <ul style="padding-left: 0">
    <div *ngFor="let message of messages">

      <div *ngIf="message.isMe; else templateName">

        <div class="my-msg">You: {{ message.msg }}</div>

      </div>


      <ng-template #templateName>

        <div class="other-msg"> {{ message.name }}: {{ message.msg }}</div>

      </ng-template>

    </div>
  </ul>


  <input class="input-box" type="text" [(ngModel)]="currMsg">
  <button class="send-btn"(click)="sendMessage()">SEND</button>

</div>