<div class="chat-box">

  <ul style="padding-left: 0">
    <div *ngFor="let message of messages">

      <div *ngIf="message.isMe; else templateName">

        <div class="my-msg"><strong>You:</strong> {{ message.msg }}</div>

      </div>


      <ng-template #templateName>

        <div class="other-msg"><strong>{{ message.name }}:</strong> {{ message.msg }}</div>

      </ng-template>

    </div>
  </ul>


  <form class="input-box">
    <!-- <input class="send-input" type="text" [(ngModel)]="currMsg" name="msg"> -->
    <!-- <button type="submit" class="send-btn"(click)="sendMessage(); $event.preventDefault()">SEND</button> -->
    <mat-form-field>
      <input class="send-input" color="accent" 
        matInput name="jgf" [(ngModel)]="currMsg" placeholder="Enter a message...">
    </mat-form-field>
    <button type="submit" class="send-btn" 
          mat-raised-button color="primary" (click)="sendMessage(); $event.preventDefault()">
        <mat-icon>send</mat-icon>
    </button>
  </form>

</div>