<div class="chat-box" style="display: flex;">

  <ul style="padding-left: 0">
    <div *ngFor="let message of messages">

      <div *ngIf="message.isMe; else templateName">

        <div class="my-msg"><strong>You:</strong> {{ message.msg }}</div>

      </div>


      <ng-template #templateName>

        <div class="other-msg"><strong>{{ message.name }}:</strong> {{ message.msg }}</div>

      </ng-template>

    </div>
  </ul>


  <form class="input-box">
    <input class="send-input" type="text" [(ngModel)]="currMsg" name="msg">
    <button type="submit" class="send-btn"(click)="sendMessage(); $event.preventDefault()">SEND</button>
  </form>

</div>