.chat-box {
    max-height: 75%;
    overflow: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.other-msg {
    margin: 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    text-align: left;
    background-color: #81e7f9;
    align-self: flex-start;
    width: 60%;
}

.my-msg {
    margin: 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    text-align: right;
    background-color: #83f981;
    align-self: flex-end;
    margin-left: 40%;
}

.input-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.send-input {
    height: 80%;
}

.send-btn {
    margin: 10px;
    border-radius: 10px;
    height: 40px;
}