.chat-box {
    background-color: rgba(100, 100, 100, 0.9);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 20px 5px 20px;
}

.other-msg {
    margin: 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    text-align: left;
    background-color: #81e7f9;
    align-self: flex-start;

    width: 60%;
}

.my-msg {
    margin: 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    text-align: right;
    background-color: #83f981;
    align-self: flex-end;

    margin-left: 40%;
}

.input-box {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    opacity: 1.0;
}

.send-input {
    height: 80%;
    margin-top: 10px;
}

.send-btn {
    margin: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 25px;
    height: 30px;
}