canvas {
    background: white;
    border: 1px solid black;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

#canvas-container {
    background: brown;
    position: relative;
    display: block;
}

#canvas-area {
    display: inline-block;
}

#options-area {
    margin: 20px;
    display: inline-block;
    position: absolute;
    top: 0;
    background: brown;
}

#color-option {
    margin: 2px;
}

.choose-color {
    margin: 5px;
}

#cur-color {
    width: 50%;
}

.option-buttons {
    margin: 10px 0;
}

.option-buttons>input {
    margin-right: 10px;
}

.download-button {
    position: absolute; 
    bottom: 2em; 
    right: 2em;
}