<div id="canvas-container">
  <div id="canvas-area">
    <canvas #canvas width="700" height="668"></canvas>
  </div>
  <div id="options-area">
    <div id="color-option" *ngFor="let color of colors; let i = index">
      <div class="choose-color">
        <input [value]="colors[i]" [style.background]="colors[i]" [(colorPicker)]="colors[i]" [cpOutputFormat]="'hex'"/>
      </div>
    </div>
    <div class="option-buttons">
      <input type="button" class="mat-raised-button" value="Pencil" (click)="pencil()">
      <input type="button" class="mat-raised-button" value="Eraser" (click)="eraser()">
    </div>
    <div class="option-buttons">
      <input type="button" class="mat-raised-button" value="Undo" (click)="undo(true)">
      <input type="button" class="mat-raised-button" value="Redo" (click)="redo(true)">
    </div>
    <div class="options-buttons">
      <input type="button" class="mat-raised-button" value="Clear" (click)="clear(true)">
    </div>
  </div>

  <button mat-raised-button color="secondary" style="position: absolute; bottom: 2em; right: 2em;">Download</button>
</div>
