<div id="canvas-container">
  <div id="canvas-area">
    <canvas #canvas width="500" height="400"></canvas>
  </div>
  <div id="options-area">
    <div id="color-option" *ngFor="let color of colors; let i = index">
      <div class="choose-color">
        <input [value]="colors[i]" [style.background]="colors[i]" [(colorPicker)]="colors[i]" [cpOutputFormat]="'hex'"/>
      </div>
    </div>
    <div id="brushes">
      <input type="button" value="Pencil"><input type="button" value="Eraser">
    </div>
    <div id="option-buttons">
      <input type="button" value="Undo" (click)="undo(true)">
      <input type="button" value="Redo" (click)="redo(true)">
      <input type="button" value="Clear" (click)="clear(true)">
    </div>
  </div>
</div>
