mat-toolbar {
    background: #fcffe8;
}

span {
    font-size: 100%;
    color: #3f51b5;
    /* text-shadow: 2px 2px grey; */
}

.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
}

button {
    background-color: #3f51b5;
    color: white;
}