mat-toolbar {
    background-color: darkgray;
}

span {
    font-size: 100%;
    color: navy;
    /* text-shadow: 2px 2px grey; */
}

.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }