<div style="position: relative;">
    <div #editor id="editor" ace-editor
        [(text)]="text"
        [options]="options"
        [readOnly]="false"
        [autoUpdateContent]="true"
        [durationBeforeCallback]="1000"
        (textChanged)="onChange($event)"
        style="min-height: 674px; width:100%; overflow: auto;" 
        (textChanged)="onChange($event)">
    </div>

    <button mat-raised-button color="secondary"
            (click)="downloadText()">
        Download
    </button>
</div> 