<h1 class="finder-header">Select a Course</h1>
<form>
  <mat-form-field>
    <mat-select [(value)]="selectedCourse" [placeholder]="placeholder">
      <mat-option *ngFor="let course of courses" [value]="course">
        {{course}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="half-width-center">
    <button (click)="connectUser()" type="submit" mat-raised-button color="primary">Connect</button>
  </div>

  <mat-spinner 
    style="margin-top: 60px; margin-left: 70px;"
    [mode]="spinnerMode" 
    [value]="0">
  </mat-spinner>
</form>
