.match-finder {
    flex: 66%;
    height: 80vh;
    padding: 20px;
    background-color: rgba(80, 80, 80, 0.9);
    color: white;
}

.profile {
    background-color: rgba(255, 255, 255, 0.8);
    flex: 34%;
    height: 80vh;
    padding: 20px;
}

.row {
    display: flex;
}